.link-menu {
	font-weight: 400;
	font-size: 18px;
	display: block;
 }
 .link-menu:hover {
	transform: scale(1.2);
	transition: all 0.1s linear 0.1s;
 }
 
 .menu__close {
	display: none;
 }

.menu__list {
  display: flex;
  align-items: center;
  gap: 0 65px;
  margin-left: 85px;
  height: 27px;
  list-style: none;
}
@media (max-width: 860px) {
	.link-menu {
		font-family: Cormorant;
		font-size: 24px;
	 }
	 .menu__item:not(:last-child) {
		margin-bottom: 30px;
	 }
	 .menu__close {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 10;
	 }
	 .close-link {
		display: block;
	 }
	 .close-btn {
		position: relative;
		cursor: pointer;
	 }
	 .close-btn img {
		position: absolute;
		top: 20px;
		right: 20px;
	 }
  .menu__list {
    display: none;
    /* display: block; */
    position: absolute;
    top: -200%;
    transition: all 0.5s ease 0.5s;
    left: calc(50% - 360px / 2);
    text-align: center;
    width: 360px;
    margin: 0 auto;
    background-color: #fff;
    padding-top: 60px;
    min-height: 691px;
    z-index: 5;
  }
}
