.post {
  display: flex;
  gap: 0 20px;
}
.post__image {
  max-width: 270px;
  min-height: 170px;
}
.post__content {
  max-width: 252px;
  display: grid;
  grid-template-rows: 1;
}
.post__title {
  font-family: Cormorant;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}
.post__user {
  font-family: Open Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.btn-read {
  font-family: Open Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  align-self: end;
}
.btn-read__link {
  display: block;
  position: relative;
  width: 43px;
}
.btn-read__link::after {
  content: "";
  position: absolute;
  right: 0;
  top: 5px;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  border-top: 2px solid #000;
  border-right: 2px solid #000;
}
.btn-read__link:hover.btn-read__link::after {
  animation: hover-translate 0.5s linear infinite;
}
@media (max-width: 480px) {
  .post__image {
    max-width: 230px;
    min-height: 153px;
  }
}

@media (max-width: 360px) {
  .post {
    flex-direction: column;
  }
  .post__image {
    max-width: 100%;
    min-height: 170px;
  }
}
