.reviews__list {
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(4, 1fr);
}
.reviews__item {
  max-width: 280px;
}
.user__rewiev {
  font-family: Open Sans;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
}
.user-name {
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media (max-width: 1000px) {
  .reviews__list {
    grid-template-columns: repeat(3, 1fr);
  }
  .reviews__item:last-child {
    display: none;
  }
}
@media (max-width: 768px) {
  .reviews__list {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 76px;
    justify-items: center;
  }
  .reviews__item:last-child {
    display: block;
  }
}
@media (max-width: 480px) {
  .reviews__list {
    gap: 20px;
  }
}
@media (max-width: 360px) {
  .reviews__list {
    grid-template-columns: repeat(1, 1fr);
  }
  .reviews__item:last-child,
  .reviews__item:nth-child(2) {
    display: none;
  }
}
